{% extends "base.html" %}
{% block content %}
<div class="container my-3">
  <form method="post" class="post-form" autocomplete="off">
    {{ form.csrf_token }}
    {% include "form_errors.html" %}
    <div class="form-group">
      <label for="username">사용자 이름</label>
      <input type="text" class="form-control mb-3" name="username" id="username" value="{{ form.username.data or user.username or '' }}">
    </div>
		<div class="form-group">
      <label for="password1">비밀번호</label>
      <input type="password" class="form-control mb-3" name="password1" id="password1" value="{{ form.password1.data or '' }}">
    </div>
    <div class="form-group">
      <label for="password2">비밀번호 확인</label>
      <input type="password" class="form-control mb-3" name="password2" id="password2" value="{{ form.password2.data or '' }}">
    </div>
    <button type="submit" class="btn btn-primary">수정하기</button>
  </form>
</div>
{% endblock %}