{% extends "base.html" %}
{% block content %}
<div class="container my-3">
  <ul class="list-group mb-5">
    <li class="list-group-item" aria-current="true">학생용 기기</li>
    <li class="list-group-item">교사용 기기</li>
  </ul>
  <form method="post" class="post-form" autocomplete="on">
    {{ form.csrf_token }}
    {% include "form_errors.html" %}
    <div class="form-floating mb-3">
      <input type="text" class="form-control" name="ssid" id="ssid" value="{{ form.ssid.data or '' }}">
      <label for="ssid">무선 네트워크 이름</label>
    </div>
    <div class="form-floating mb-5">
      <input type="text" class="form-control" name="psk" id="psk" value="{{ form.psk.data or '' }}">
      <label for="psk">무선 네트워크 암호</label>
    </div>
    <div class="form-group mb-3">
      <label for="max_tokens">최대 답변 글자 수</label><output id="output" class="mx-3"><h4>{{ form.data.max_tokens or '125' }}</h4></output>
      <input type="range" class="form-range" oninput="updateNum()" name="max_tokens" id="max_tokens" min="50" max="500" value="{{ form.max_tokens.data or '125' }}">
    </div>
    <div class="form-group mb-3">
      <label for="gpt_role">GPT 역할</label>
      <textarea class="form-control mb-3" style="overflow: auto;" name="gpt_role" id="gpt_role" rows="4">{{ form.data.gpt_role or '당신은 어린 학생들의 어떤 질문에 대해서도 이해하기 쉽게 잘 설명할 줄 아는 초등학교 선생님입니다.' }}</textarea>
    </div>
    <div class="form-group mb-3">
      <label for="temperature" data-bs-toggle="popover" data-bs-title="텍스트 다양성 조절 지수" data-bs-content="생성된 텍스트의 창의성 또는 무작위성을 제어합니다. 값이 높을수록 모델은 더 다양한 응답을 생성합니다. 값이 낮을수록 모델은 더 예측 가능한 응답을 생성합니다.">텍스트 다양성 조절 지수</label><output id="tempValue" class="mx-3"><h4>{{ form.data.temperature or '50' }}</h4></output>
      <input type="range" class="form-range" oninput="updateTemp()" name="temperature" id="temperature" min="0" max="100" value="{{ form.temperature.data or '50' }}">
    </div>
    <div class="form-group mb-3">
      <label for="top_p" data-bs-toggle="popover" data-bs-title="확률 상위 퍼센트 컷오프" data-bs-content="이 용어는 모델이 단어를 선택할 때 전체 확률 중 상위 몇 퍼센트에 속하는 단어들만 고려하는 것을 의미합니다. 예를 들어, 이 값을 90으로 설정하면, 상위 90%의 확률을 가진 단어들만 선택 범위에 포함됩니다.">확률 상위 퍼센트 컷오프</label><output id="topValue" class="mx-3"><h4>{{ form.data.top_p or '50' }}</h4></output>
      <input type="range" class="form-range" oninput="updateTop()" name="top_p" id="top_p" min="0" max="100" value="{{ form.top_p.data or '50' }}">
    </div>
    <div class="form-check mb-3">
      <input type="checkbox" class="form-check-input" name="not_upload" id="not_upload" {% if form.not_upload.data %}checked{% endif %}>
      <label class="form-check-label" for="not_upload" data-bs-toggle="popover" data-bs-title="서버에 데이터 미반영" data-bs-content="이 옵션을 체크하면 사용자의 질문과 GPT의 답변이 서버에 저장되지 않습니다. 환경설정 내 옵션의 변화에 따른 GPT의 응답을 다양하게 테스트하고자 할 때 체크하면 질문과 답변이 데이터베이스 및 웹 사이트에 반영되지 않습니다.">서버에 데이터 미반영</label>
    </div>
    <div class="form-check mb-3">
      <input type="checkbox" class="form-check-input" name="verifying_user_input" id="verifying_user_input" {% if form.verifying_user_input.data %}checked{% endif %}>
      <label class="form-check-label" for="verifying_user_input" data-bs-toggle="popover" data-bs-title="음성 입력 검증" data-bs-content="이 옵션을 체크하면 사용자의 음성 질문이 기기의 oled 화면에 표시되며 음성이 잘못 인식되었다면 사용자가 버튼을 클릭해 질문을 취소할 수 있습니다. 다만 화면에 표시되는 시간만큼 답변을 늦게 듣게 됩니다.">음성 입력 검증</label>
    </div>
    <div class="form-check mb-3">
      <input type="checkbox" class="form-check-input" name="conversation_continuity" id="conversation_continuity" {% if form.conversation_continuity.data %}checked{% endif %}>
      <label class="form-check-label" for="conversation_continuity" data-bs-toggle="popover" data-bs-title="대화 연속성 유지" data-bs-content="이 옵션을 체크하면 모델이 대화를 이어가면서 맥락을 이해하고 관련된 답변을 할 수 있으며, 이전 응답을 기억함으로써 일관된 정보 제공이 가능합니다. 아울러 대화가 끊기지 않고 자연스럽게 이어지므로 사용자와의 상호작용이 원활해집니다.">대화 연속성 유지</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" name="topic" id="topic" value="{{ form.topic.data or '' }}">
      <label for="topic">대화 주제</label>
    </div>
    <div class="form-group mb-5">
      <input type="hidden" id="form_category" name="form_category" value="{{ form.topic_category.data or '' }}">
      <label for="topic_category">주제 분류</label>
      <select class="form-control" name="topic_category" id="topic_category">
      </select>
    </div>
    <div class="form-group mb-3">
      <label for="input_lang">입력 언어</label>
      <select class="form-control" name="input_lang" id="input_lang">
        <option value="ko-KR" {% if form.input_lang.data == 'ko-KR' %}selected{% endif %}>한국어</option>
        <option value="en-US" {% if form.input_lang.data == 'en-US' %}selected{% endif %}>영어</option>
        <!-- <option value="ja-JP" {% if form.input_lang.data == 'ja-JP' %}selected{% endif %}>일본어</option>
        <option value="zh-CN" {% if form.input_lang.data == 'zh-CN' %}selected{% endif %}>중국어</option>
        <option value="fr-FR" {% if form.input_lang.data == 'fr-FR' %}selected{% endif %}>프랑스어</option> -->
      </select>
    </div>
    <div class="form-group mb-5">
      <label for="output_lang">출력 언어</label>
      <select class="form-control" name="output_lang" id="output_lang">
        <option value="ko-KR" {% if form.output_lang.data == 'ko-KR' %}selected{% endif %}>한국어</option>
        <option value="en-US" {% if form.output_lang.data == 'en-US' %}selected{% endif %}>영어</option>
        <!-- <option value="ja-JP" {% if form.output_lang.data == 'ja-JP' %}selected{% endif %}>일본어</option>
        <option value="zh-CN" {% if form.output_lang.data == 'zh-CN' %}selected{% endif %}>중국어</option>
        <option value="fr-FR" {% if form.output_lang.data == 'fr-FR' %}selected{% endif %}>프랑스어</option> -->
      </select>
    </div>
    <button type="submit" class="btn btn-primary">저장하기</button>
  </form>
</div>
{% endblock %}
{% block script %}
<script>
  const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
  const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))

  document.addEventListener('DOMContentLoaded', function () {
    const listItems = document.querySelectorAll('.list-group-item');

    const path = window.location.pathname;
    const regex = /\/modify\/(\d+)\//;
    const match = path.match(regex);
    const deviceId = match ? match[1] : null;

    if (deviceId) {
      // 모든 항목에서 active 클래스 제거
      listItems.forEach(i => i.classList.remove('active'));

      // device_id에 해당하는 항목에 active 클래스 추가
      const targetItem = listItems[deviceId - 1];
      if (targetItem) {
        targetItem.classList.add('active');
      }
    }

    listItems.forEach((item, index) => {
      const deviceId = index + 1;
      item.dataset.deviceId = deviceId;

      item.addEventListener('click', function () {
        let flag = false;
        if (!this.classList.contains('active')) {
          flag = true;
        }

        listItems.forEach(i => i.classList.remove('active'));
        this.classList.add('active');

        if (flag) {
          const url = `/chatgpt/modify/${deviceId}`;
          window.location.href = url;
        }
      });
    });
  });

  const topics = [
      '건강', '경제', '과학', '국어', '문학', '미술', 
      '사회', '세계', '생활', '수학', '스포츠', '여행', 
      '역사', '육아', '음악', '외국어', '인물', '종교', 
      '철학', '취미', '컴퓨터', '기타'
  ];

  const $topicCategory = document.getElementById('topic_category');
  const $formCategory = document.getElementById('form_category');
  topics.forEach(topic => {
    const $option = document.createElement('option');
    $option.value = topic;
    $option.textContent = topic;
    
    if (topic === $formCategory.value) {
        $option.selected = true;
    }    
    $topicCategory.appendChild($option);
  });

  const $checkbox = document.getElementById('conversation_continuity');
  const $topic = document.getElementById('topic');

  function updateTopicField() {
    const is_checked = $checkbox.checked;
    if(is_checked) {
      $topic.disabled = false;
      $topicCategory.disabled = false;
    } else {
      $topic.value = '';
      $topic.disabled = true;
      $topicCategory.disabled = true;
      $topicCategory.selectedIndex = -1; 
    }
  }
  
  updateTopicField();
  $checkbox.addEventListener('change', updateTopicField);
  
  function updateNum() {
    let value = document.getElementById('max_tokens').value;
    document.getElementById('output').innerHTML = `<h4>${value}</h4>`;
  }
  function updateTemp() {
    let value = document.getElementById('temperature').value;
    document.getElementById('tempValue').innerHTML = `<h4>${value}</h4>`;
  }
  function updateTop() {
    let value = document.getElementById('top_p').value;
    document.getElementById('topValue').innerHTML = `<h4>${value}</h4>`;
  }
</script>
{% endblock %}